<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://upload.todojoy.com/static/uploads/image/a03/20200429/1588154329350610.png">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 
</head>
<body>
  <div id="app">
    <div class="template">
      <div v-for="item in temp" :key="item" class="template_list">
        
        <div>
          <span v-text="item.file"></span>
          <span v-if="item.nodemodules">modules</span>
        </div>
        <p @click="INSTALL(item)">install</p>
        <p @click="BUILD(item)">build</p>
      </div>
    </div>
    <!-- 弹窗 -->
    <div id="alert" v-show="alert">
      <div class="alert_content">
        <p>提示<span @click="alert = '' ">X</span></p>
        <div v-text="alert"></div>
      </div>
    </div>
  </div>

  <script>
    const app = new Vue({
      el: '#app',

      data: {
        temp: [],
				alert: false,// 是否显示弹窗
      },

      created() {
       this.GET_TEMP()
      },

      methods: {
        INSTALL(item) {// 初始化
          $http({url:"api/install",data:{temp: item.file}}).then(res=>{
            this.GET_TEMP()
          }).catch(message=>{
            this.alert = message
          })
        },

        BUILD(item) {// 打包
          $http({url:"api/build",data:{temp: item.file,edition: "2"}}).then(res=>{
            this.alert = res.message
          }).catch(message=>{
            console.log(message)
            this.alert = message
          })
        },

        GET_TEMP(){
          $http({url:"api/getDataBase",data:{href: "G:\\aoneQt"}}).then(res=>{
            this.temp = res.item
          }).catch(message=>{
            this.alert = message
          })
        }
      }

    })


    
    function $http(datas) {// 请求拦截，响应处理
      return new Promise((resolve,reject)=>{
        const httpServer = axios.create({
          baseURL: "http://10.0.6.103:9191/",// 接口api 地址
          timeout: 100000
        })
        // 请求拦截
        httpServer.interceptors.request.use(config=>{
          config.headers["device"] = "PC"
          config.headers['token'] = ""
          return config
        })

        // 响应拦截
        httpServer.interceptors.response.use(response=>{
          const data = response.data
          if(data.status_code === 200) {
            resolve(data)
            return data
          }else {
            return reject(data.message)
          }
        },error=>{
          return reject(error)
        })
        httpServer({url:datas.url,data:datas.data,method:"post"})
      })
      
      
    }
   
  </script>
</body>
</html>