@charset "utf-8";
body,button,input,select,textarea{font:100%/1 "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei";}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0; padding:0;-webkit-text-size-adjust:100%;box-sizing: border-box;}
table{border-collapse:collapse;border-spacing:0;}
em,i{font-style:normal;}
li{list-style:none;}
img{border:0;}
input,img{vertical-align:middle;}
article,aside,footer,header,hgroup,nav,section,menu{display:block;}
a{text-decoration:none;}
html,body{height:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-webkit-overflow-scrolling: touch;}
a,input,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:none; -webkit-font-smoothing:antialiased}
.clear{zoom:1;}
.clear:after,.clear:before{ content: "";display: table;}
.clear:after{ clear:both;}
#app{width:100%;height:100%;min-height: 100vh;}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.cursor{cursor: pointer;user-select: none;}
.scroll::-webkit-scrollbar {
  width : 6px;
  height: 1px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow   : inset 0 0 5px #f1f1f1;
  background   : #d2d2d2;
}
.scroll::-webkit-scrollbar-track {
  box-shadow   : inset 0 0 5px #f1f1f1;
  border-radius: 6px;
  background   : transparent;
}