<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://upload.todojoy.com/static/uploads/image/a03/20200429/1588154329350610.png">
    <link rel="stylesheet" href="./help.css">
    <title>哈哈哈哈</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <!-- 左侧导航 -->
        <aside>
            <!-- 添加按钮 -->
            <div class="add_btn" @click="isAdd = true" title="点击添加"></div>
            <ul v-for="item in typeList" :key="item.id">
                <h2 v-text="item.typeName"></h2>
                <li v-for="items in item.list" :key="items.name" v-text="items.name" @contextmenu.prevent="MenuRight($event,items,item.typeName)"></li>
            </ul>
            <!-- 编辑 -->
            <div class="edit_btn cursor" v-show="isEditBtn" ref="editBtn" @click="EditList">编辑</div>
        </aside>
        <!-- 右侧内容 -->
        <menu>

        </menu>

        <!-- 添加视图 -->
        <div id="add_view" v-if="isAdd">
            <div id="view">
                <!-- 关闭按钮 -->
                <div class="close cursor" @click="isAdd = false"></div>
                <p>添加列表</p>
                <input type="text" placeholder="分类名称" v-model="addList.typeName">
                <input type="text" placeholder="列表名称" v-model="addList.name">
                <div class="submit cursor" @click="QuickAdd">确认添加</div>
            </div>
        </div>

        <!-- 编辑列表 -->
        <div id="add_view" v-if="isEditData">
            <div id="view">
                <!-- 关闭按钮 -->
                <div class="close cursor" @click="isEditData = false"></div>
                <p>编辑“{{isEditData.name}}”</p>
                <input type="text" placeholder="列表名称" v-model="isEditData.name">
                <div class="Edite_list_btn_box">
                    <div class="submit cursor del" @click="DelList">删除</div>
                    <div class="submit cursor" @click="QuickEdit">确认编辑</div>
                </div>
                
            </div>
        </div>

        <!-- 添加视图 -->
        <div id="add_view" v-if="isEdit">
            <div class="view">
                <!-- 关闭按钮 -->
                <div class="close cursor" @click="isAdd = false"></div>
                <p>添加列表</p>
                <input type="text" placeholder="分类名称" v-model="addList.typeName">
                <input type="text" placeholder="列表名称" v-model="addList.name">
                <div class="submit cursor" @click="QuickAdd">确认添加</div>
            </div>
        </div>

        <!-- 弹窗 -->
        <div id="alert" v-if="alertMessage">
            <div class="view" >
                <div class="close cursor" @click="alertMessage = false"></div>
                <div v-html="alertMessage"></div>
            </div>
        </div>

        <!-- Loading -->
        <div id="loading" v-if="loading">
            <span v-for="item in 5" :key="item"></span>
        </div>
    </div>
    <script src="./help.js"></script>
</body>
</html>