*{margin:0;padding:0;}
menu,html,body,#app{
  width: 100%;
  height: 100%;
}
#app{
  overflow: hidden;
  display: flex;
  font-size:15px;
}
#alert{	
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  .alert_content{
    width: 280px;
    height: 120px;
    background-color: #fff;
    padding:8px;
    position: absolute;
    left:0;top:0;bottom:0;right:0;
    margin:auto;
    border-radius: 5px;
    text-align: center;
    p{
      font-size: 18px;
      font-weight: bold;
      position: relative;
      span{
        position: absolute;
        right:0;top:0;
        cursor: pointer;
        user-select: none;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 100%;
        &:hover{
          background-color: #009688;;
        }
      }
    }
    div{
      padding:15px;
      box-sizing: border-box;
      width: 100%;
      margin-top:10px;
      color:red;
    }
  }
}
#loading{
  position: fixed;
  left:0;top:0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    width: 20px;
    height: 20px;
    display: block;
    background-color: #fff;
    border-radius: 100%;
    margin-left:10px;
    animation: loading 3s infinite;
    opacity: 0;
    @for $i from 1 through 5 {
      &:nth-child(#{$i} ){
        animation-delay:0.1s + $i*0.25;
      }
    }
    @keyframes loading {
      0%{
        transform: translateX(-1000px);
        opacity: 0;
        background:red;
      }
      50%{
        opacity: 1;
        transform: translateX(500px);
        background:rgb(0, 162, 255);
      }
      100%{
        opacity: 0;
        transform: translateX(1000px);
        background:rgb(0, 255, 13);
      }
    }
  }
}

menu{
  flex: 1;
  background-color: #ffffff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  header{
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding:0 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    select{
      width: 90px;
      height: 25px;
      border-radius: 5px;
    }
    .all_build{
      width: 78px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      background-color: #009688;
      color: #ffffff;
      position: absolute;
      right:15px;top:0;bottom:0;
      margin: auto;
      border-radius: 5px;
    }
    .search_input{
      height: 25px;
      border:1px solid #ccc;
      width: 200px;
      margin:0 35px;
      padding-left:5px;
      box-sizing: border-box;
      border-radius: 5px;
    }
    .up_code{
      width: 78px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      background-color: #ffb800;
      color: #ffffff;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
    }
  }
  article{
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 15px;
    padding-left: 40px;
    box-sizing: border-box;
    
    .template_list{
      width:700px;
      border:1px solid #ccc;
      margin: 15px 5px;
      font-size:14px;
      color:#010101;
      float: left;
      padding:0 15px;
      box-sizing: border-box;
      .temp_data{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 35px;
        p{
          text-align: center;
          user-select: none;
        }
        .temp_name{
          color:rgb(245, 29, 29);
          font-weight: bold;
          
        }
        .node_modedules{
          color:#1e9fff;
          cursor: pointer;
        }
        .new_level{
          color:red;
          font-weight: bold;
          width: 40px;
          text-align: center;
        }
        .function_btn {
          span{
            width: 68px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            background-color: #ffb800;
            display: inline-block;
            margin-left: 10px;
            color:#fff;
            border-radius: 3px;
            cursor: pointer;
            user-select: none;
            &:last-child{
              background-color: #009688;
            }
          }
        }
      }
      .operation{
        width: 100%;
        height: 100px;
      }
      
    }
  }
}
aside{
  width: 20%;
  height: 100%;
  background-color: #f5f5f5;
  overflow-y: auto;
}

