* {
  margin: 0;
  padding: 0;
}

menu, html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  overflow: hidden;
  display: flex;
  font-size: 15px;
}

#alert {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#alert .alert_content {
  width: 280px;
  height: 120px;
  background-color: #fff;
  padding: 8px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}

#alert .alert_content p {
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

#alert .alert_content p span {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  user-select: none;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 100%;
}

#alert .alert_content p span:hover {
  background-color: #009688;
}

#alert .alert_content div {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  color: red;
}

#loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading span {
  width: 20px;
  height: 20px;
  display: block;
  background-color: #fff;
  border-radius: 100%;
  margin-left: 10px;
  animation: loading 3s infinite;
  opacity: 0;
}

#loading span:nth-child(1) {
  animation-delay: 0.35s;
}

#loading span:nth-child(2) {
  animation-delay: 0.6s;
}

#loading span:nth-child(3) {
  animation-delay: 0.85s;
}

#loading span:nth-child(4) {
  animation-delay: 1.1s;
}

#loading span:nth-child(5) {
  animation-delay: 1.35s;
}

@keyframes loading {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
    background: red;
  }
  50% {
    opacity: 1;
    transform: translateX(500px);
    background: #00a2ff;
  }
  100% {
    opacity: 0;
    transform: translateX(1000px);
    background: #00ff0d;
  }
}

menu {
  flex: 1;
  background-color: #ffffff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

menu header {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}

menu header select {
  width: 90px;
  height: 25px;
  border-radius: 5px;
}

menu header .compression{
	width: 78px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: #1e9fff;
	color: #ffffff;
	position: absolute;
	right: 120px;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 5px;
	cursor: pointer;
}

menu header .all_build {
  width: 78px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #009688;
  color: #ffffff;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
	cursor: pointer;
}

menu header .search_input {
  height: 25px;
  border: 1px solid #ccc;
  width: 200px;
  margin: 0 35px;
  padding-left: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

menu header .up_code {
  width: 78px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #ffb800;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

menu header .svn_updata_message {
  width: 500px;
  background-color: #000;
  height: 100%;
  margin: 0 35px;
  overflow-y: auto;
  color: #fff;
  overflow-x: hidden;
  padding: 2px;
}

menu article {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
  padding-left: 40px;
  box-sizing: border-box;
}
.scroll::-webkit-scrollbar {
  width : 10px;
  height: 1px;
  }
  .scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #1e9fff;
  }
.scroll::-webkit-scrollbar-track {
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background   : transparent;
}

menu article .template_list {
  width: 700px;
  border: 1px solid #ccc;
  margin: 15px 5px;
  font-size: 14px;
  color: #010101;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

menu article .template_list .temp_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35px;
}

menu article .template_list .temp_data p {
  text-align: center;
  user-select: none;
}

menu article .template_list .temp_data .temp_name {
  color: #f51d1d;
  font-weight: bold;
}

menu article .template_list .temp_data .node_modedules {
  color: #1e9fff;
  cursor: pointer;
}

menu article .template_list .temp_data .new_level {
  color: red;
  font-weight: bold;
  width: 40px;
  text-align: center;
}

menu article .template_list .temp_data .function_btn span {
  width: 68px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #ffb800;
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

menu article .template_list .temp_data .function_btn span:last-child {
  background-color: #009688;
}

menu article .template_list .operation {
  width: 100%;
  height: 120px;
	display: flex;
	flex-direction: column;
}

menu article .template_list .operation .title{
	line-height: 20px;
}

menu article .template_list .operation .updataBox{
	flex: 1;
	width: 100%;
	overflow-y: auto;
}

menu article .template_list .operation .updataBox .list{
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

menu article .template_list .operation .updataBox .no_updata{
	line-height: 20px;
	text-align: center;
	margin-top: 20px;
}

menu article .template_list .operation .updataBox .list span{
	width: 20%;
}

menu article .template_list .operation .updataBox .list .ip{
	width: 25%;
}

menu article .template_list .operation .updataBox .list .time{
	width: 35%;
}

aside {
  width: 20%;
  height: 100%;
  background-color: #f5f5f5;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
aside .svn_updata_message{
  background-color: #000;
  width: 100%;
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  color:#fff;
}
aside .log{
  background-color: #fff;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  color:#000000;
  text-indent: 0.5em;
}
aside .message{
  flex: 1;
  background-color: #fff;
}
aside .log .time{
  color:#1e9fff;
  font-weight: bold;
  margin: 10px 0;
}
aside .log .log_list:hover{
 background-color: #ffb800;
}
aside .log b{
  color:red;
}