<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://upload.todojoy.com/static/uploads/image/a03/20200429/1588154329350610.png">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 
</head>
<body>
  <div id="app">
    <!-- 主要内容 -->
    <menu>
      <!-- 头部 -->
      <header>
        <select v-model="active">
          <option :label="item.label" v-for="item in options" :key="item.type" :value="item.label"></option>
        </select>
        <!-- 搜索条件 -->
        <input type="text" placeholder="输入模板名称搜索" class="search_input" v-model.trim="searchData">
      
        <p class="up_code" @click="UP_CODE">更新代码</p>

        <div class="svn_updata_message" v-if="svnUpdata">{{svnUpdata}}</div>
				
				<p class="compression" @click="COMPRESSION">压缩</p>
				
        <p class="all_build" @click="ALL_BUILD">批量打包</p>

      </header>

      <!-- 内容 -->
      <article>
        <div v-for="(item,index) in showTemp" :key="index" class="template_list">
          <div class="temp_data">
            <p>
              <label :for="item.file"> 
                <input type="checkbox" name="" class="checked" :id="item.file" :checked="item.checkbox" v-model="item.checkbox" @change="CHECK_CHANGE($event)">
                模板名称：<span v-text="item.file" class="temp_name"></span>
              </label>
            </p>
  
            <p 
              @click="activeIndex = index"
              v-if="!item.nodemodules" 
              class="node_modedules">
              请执行初始化
            </p>
            <div v-else @click.self="activeIndex = index">
              以前版本 <span v-text="item.oldlevel"></span>&nbsp;&nbsp;&nbsp;
              新版本&nbsp;<input type="text" class="new_level" v-model.trim="item.level" >
            </div>

            <p class="function_btn">
              <span @click="INSTALL(item)">初始化</span>
              <span @click="BUILD(item)">代码打包</span>
            </p>
          </div>
          <div class="operation" v-if="index === activeIndex" @click="activeIndex = -1">
            <p class="title">操作日志</p>
						<div class="updataBox">
							<div class="list" v-for="(data,e) in updata[item.file]" :key="e">
								<span class="ip"><label>IP：</label>{{data.name}}</span>
								<span class="time"><label>时间：</label>{{data.times}}</span>
								<span><label>旧版本号：</label>{{data.oldNum}}</span>
								<span><label>新版本号：</label>{{data.newNum}}</span>
							</div>
							<div class="no_updata" v-if="updata[item.file].length == 0">暂无更新</div>
						</div>
          </div>
        </div>
        <div v-if="!showTemp.length && searchData || !showTemp.length && active!=='全部'">占无相应模板信息</div>
      </article>
    </menu>
    <!-- 右侧边栏 -->
    <aside>
      <button @click="Sokect">test</button>
    </aside>

    <!-- 弹窗 -->
    <div id="alert" v-show="alert">
      <div class="alert_content">
        <p>提示<span @click="alert = '' "></span></p>
        <div v-html="alert"></div>
      </div>
    </div>

    <!-- Loading -->
    <div id="loading" v-if="loading">
      <span v-for="item in 5" :key="item"></span>
    </div>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        temp: [],
				updata: [],
        showTemp: [],
		    alert: false,// 是否显示弹窗
        active: "全部",// 下拉框默认选中
        activeIndex: -1,// 操作日志选中
        loading: false,
        options: [// 下拉选项
          {label:"全部",type: "all"},
          {label:"PC",type: "PC"},
          {label:"WAP",type: "WAP"},
          {label:"会员中心",type: "user"},
          {label:"其他",type: "other"},
        ],
        searchData: "", // input值
        svnUpdata:"",
      },

      created() {
			 this.GET_TEMP()
      },

      watch: {
        "searchData"(to){
          this.showTemp = []
          if( to ){
            this.active = "全部"
          }
          this.temp.forEach(data=>{
            if(data.file.includes(to)){
              this.showTemp.push(data)
            }
          })
        },

        "active"(to) {
          this.NAV_CHANGE(to)
        }

      },

      methods: {
        INSTALL(item) {// 初始化
          this.loading = true
          $http({url:"api/install",data:{temp: item.file}}).then(res=>{
            this.GET_TEMP()
            this.loading = false
          }).catch(message=>{
            this.alert = message
            this.loading = false
          })
        },

        BUILD(item) {// 打包
          if(item.nodemodules) {
            if(!item.level) {
              this.alert = "请先输入版本号"
              return 
            }
            this.loading = true
            $http({url:"api/build",data:{temp: item.file,newEdition: item.level,oldEdition: item.oldlevel}}).then(res=>{
              this.alert = res.message
              this.loading = false
							this.GET_TEMP()
            }).catch(message=>{
              this.alert = message
              this.loading = false
            })
          } else {
            this.alert = "请先初始化模板"
          }
        },

        GET_TEMP(){// 获取网站模板
					this.loading = true
					axios.all([
						$http({url:"api/getDataBase"}),
						$http({url:"api/getUpdata"})
						]).then(
						axios.spread((temp,updata)=>{
							this.loading = false
							temp.item.forEach(data=>{
							  data.checkbox = false
							  data.oldlevel = 0
							  data.level = ""
							})
							this.temp = temp.item
							this.showTemp = temp.item
							this.updata = updata.items
							this.NAV_CHANGE(this.active)
						})
					).catch(
						this.loading = false
					)
        },

				CHECK_CHANGE(event){
					let length = 0
					this.showTemp.map((item,index)=>{
						if(item.checkbox){
							length ++ 
						}
					})
					if(length>19){
						this.alert = "一次打包不能超过20个"
					}
				},

        ALL_BUILD() {// 批量打包
          let arr = [],
					isbuild = false;
          this.showTemp.forEach(data=>{
            if(data.checkbox){
              let item = {
                temp: data.file,
                newEdition: data.level,
                oldEdition: data.oldlevel
              }
              if(!data.level){
                isbuild = `请填写 ${data.file}版本号`
                return 
              }
              arr.push(item)
            }
          })
          if(isbuild) {
            this.alert = isbuild
          } else {
						if(arr.length>0){
							this.loading = true
							let index = 0
							let that = this
							build()
							function build(){
								$http({url:"api/build",data:arr[index]}).then((res)=>{
									index ++
									if(index < arr.length){
										build()
									}else{
										that.loading = false
										that.alert = res.message
										that.GET_TEMP()
									}
								}).catch((err)=>{
									that.alert = err
									that.loading = false
								})
							}
						}else{
							this.alert = "请选择要打包的文件"
						}
          }
        },

        UP_CODE(){
          this.loading = true
          $http({url:"api/upcode",data:{path:"G:\\aoneQt"}}).then(res=>{
              this.svnUpdata = res.message
              this.loading = false
            }).catch(message=>{
              this.alert = message
              this.loading = false
            })
        },
				
				COMPRESSION(){ //压缩
					this.loading = true
					$http({url:"api/compression"}).then((res)=>{
						this.alert = res.message
						this.loading = false
					}).catch((err)=>{
						this.alert = err
						this.loading = false
					})
				},
				
				NAV_CHANGE(to){
					this.showTemp = []
					if(to !== "全部") {
					  this.searchData = ""
					}
					switch (to) {
					  case "PC":
					    this.temp.forEach(data=>{
					      if(data.file.includes("pc")){
					        this.showTemp.push(data)
					      }
					    })
					    break;
					  case "WAP":
					    this.temp.forEach(data=>{
					      if(data.file.includes("wap")){
					        this.showTemp.push(data)
					      }
					    })
					    break;
					  case "全部":
					    this.showTemp = this.temp
					    break;
					  case "会员中心":
					    this.temp.forEach(data=>{
					      if(data.file.includes("user")){
					        this.showTemp.push(data)
					      }
					    })
					    break;
					  default:
					    this.temp.forEach(data=>{
					      if(!data.file.includes("user") && !data.file.includes("wap") && !data.file.includes("pc")){
					        this.showTemp.push(data)
					      }
					    })
					    break;
					}
				},
        Sokect() {
          $http({url:"api/message"}).then(res=>{

          })
        }
      }
    });


    
    function $http(datas) {// 请求拦截，响应处理
      return new Promise((resolve,reject)=>{
        const httpServer = axios.create({
          baseURL: "http://192.168.0.113:9191/",// 接口api 地址
          timeout: 100000
        })
        // 请求拦截
        this.loading = true
        httpServer.interceptors.request.use(config=>{
          config.headers["device"] = "PC";
          config.headers['token'] = "";
          
          if(config.url === "api/getDataBase"){// 只需要在获取模板的接口传路径
            config.headers['path'] = "F:\\aoneQt";
          }
          return config
        })

        // 响应拦截
        httpServer.interceptors.response.use(response=>{
          const data = response.data
          if(data.status_code === 200) {
            resolve(data)
            return data
          }else {
            return reject(data.message)
          }
        },error=>{
          return reject(error)
        })
        httpServer({url:datas.url,data:datas.data,method:"post"})
      })
    }
  </script>
</body>
</html>